<!-- home.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Monitoring System - Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>System Monitorowania Środowiskowego</h1>
<nav>
    <ul>
        <li><a th:href="@{/lab1}">LAB 1</a></li>
        <li><a th:href="@{/lab2}">LAB 2</a></li>
        <li><a th:href="@{/lab3}">LAB 3</a></li>
        <li><a th:href="@{/lab3}">LAB 4</a></li>
    </ul>
</nav>
<div>
    <p>Witamy w systemie monitorowania środowiskowego.</p>
</div>
</body>
</html>
