<!-- lab1.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>LAB 1 - Wzorce Projektowe</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>LAB 1 - Factory, Singleton, Builder, Prototype</h1>
<nav>
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/lab1}">LAB 1</a></li>
        <li><a href="#">LAB 2</a></li>
        <li><a href="#">LAB 3</a></li>
    </ul>
</nav>
<div>
    <h2>Factory Pattern</h2>
    <p>Sensor: <span th:text="${sensorResult}"></span></p>
    <p>Report Type: <span th:text="${reportResult}"></span></p>
    <p>Alert: <span th:text="${alertResult}"></span></p>

    <h2>Singleton Pattern</h2>
    <h4>Szybka inicjalizacja</h4>
    <p>DataSourceSingleton first variable: <span th:text="${dataSourceSingletonEagerInit1}"></span> </p>
    <p>DataSourceSingleton second variable: <span th:text="${dataSourceSingletonEagerInit2}"></span> </p>
    <h4>Blok static</h4>
    <p>DataSourceSingletonStaticBlockInit first variable: <span th:text="${dataSourceSingletonStaticBlockInit1}"></span> </p>
    <p>DataSourceSingletonStaticBlockInit second variable: <span th:text="${dataSourceSingletonStaticBlockInit2}"></span> </p>
    <h4>Statyczna klasa wewnetrzna</h4>
    <p>DataSourceSingletonInnerClassInit first variable: <span th:text="${dataSourceSingletonInnerStaticClassInit1}"></span> </p>
    <p>DataSourceSingletonInnerClassInit second variable: <span th:text="${dataSourceSingletonInnerStaticClassInit2}"></span> </p>

</div>
<div>
    <h2>Prototype Pattern</h2>
    <p>Sensor Prototype (Cloned): <span th:text="${sensorPrototype}"></span></p>

    <h4>Country Prototype</h4>
    <p>Country Prototype (Cloned):</p>
    <ul>
        <li th:each="city : ${countryPrototypeData}" th:text="${city.name}"></li>
    </ul>
    <p>Country Prototype (Cloned 1):></p>
    <ul>
        <li th:each="city : ${countryPrototypeClone1}" th:text="${city.name}"></li>
    </ul>
    <p>Country Prototype (Cloned 2):></p>
    <ul>
        <li th:each="city : ${countryPrototypeClone2}" th:text="${city.name}"></li>
    </ul>
</div>
</body>
</html>
