<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lab2 - Testowanie Wzorców Projektowych</title>
</head>
<body>
<h1>Lab2 - Testowanie Wzorców Projektowych</h1>

<h2>Adapter - Konwersja Jednostek</h2>
<p>Temperatura w °F: <span th:text="${fahrenheitTemp}"></span></p>
<p>Temperatura w K: <span th:text="${kelvinTemp}"></span></p>
<p>Prędkość wiatru w mph: <span th:text="${mphWindSpeed}"></span></p>
<p>Ciśnienie w mmHg: <span th:text="${mmHgPressure}"></span></p>

<h2>Bridge - System Komunikacji</h2>
<h3>Stacja Meteorologiczna (HTTP)</h3>
<p th:utext="${weatherStationResults}"></p>

<h3>Stacja Przemysłowa (MQTT)</h3>
<p th:utext="${industrialStationResults}"></p>

<h2>Bridge - System Pobioru danych</h2>
<h3>Stacja Pogodowa</h3>
<p th:utext="${weatherStationResults}"></p>

<h3>Stacja Przemysłowa</h3>
<p th:utext="${industrialStationResults}"></p>

<h3>Stacja Wieloczujnikowa</h3>
<p th:utext="${multiSensorStationResults}"></p>


<h2>Bridge - Generowanie Raportów</h2>

<h3>Raport Stacji Pogodowej (PDF)</h3>
<p th:text="${weatherReportResult}"></p>

<h3>Raport Stacji Przemysłowej (CSV)</h3>
<p th:text="${industrialReportResult}"></p>


<h2>Kompozycja - Stacja złożona z sensorów</h2>
<p th:utext="${composite1details}"></p>

<h2>Decorator - Pomiar Stacji</h2>
<p th:utext="${measurementResults}"></p>

<h2>Lab 2 - Decorator Pattern (Authorization)</h2>

<h3>Authorized Sensor</h3>
<p th:text="${resultAuthorized}"></p>

<h3>Unauthorized Sensor</h3>
<p th:text="${resultUnauthorized}"></p>

</body>
</html>